.main{
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    min-width: 100vw;
    height: 100%;
    border-top: 2px solid rgb(210, 62, 62);
}
.card{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 250px;
    border: 2px solid rgb(210, 62, 62);
}